* {box-sizing: border-box}

html {
	padding-top: 0;
}

body{
	background-color: #d1c5b7;
	padding-top: 0;
	text-align: center;
	font-family: 'Signika', sans-serif;
}

$border: 1px solid black;
$darkBlue: #063e53;
$lightBlue: #0193b7;

.header {
	width: 100%;
	height: 125px;
	background-image: url('./images/woodBoard.jpeg');
	>h1 {
		font-size: 3em;
		margin-top: 0;
		padding-top: 20px;
		color: rgba(249, 249, 236, .75);
	}
	>p {
		color: rgb(41, 41, 41);
		a{
			color: #FBF989;
		}
	}
}

.recipeList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;

	.well {
		background-color: #b6aea1;
		border: 2px solid $darkBlue;
		width: 90%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@media (min-width: 550px){
			width: 49%;
		}
		@media (min-width: 850px){
			width: 32%;
		}
		.expand {
			border-radius: 50%;
			color: $lightBlue;
		}
		.expand:hover,
		.expand:focus{
			color: $darkBlue;
		    text-decoration: none;
		    cursor: pointer;
		}

		.ingredients {
			width: 100%;
			color: black;
			font-size: 1.3em;
		}
		.dishName{
			width: 100%;
			color: white;
			font-size: 3em;
		}
		.instructions {
			width: 100%;
		}
		.btn {
		margin-top: auto;
		width: 30%;
		}
	}
}


.well:hover {
	border: 2px solid $lightBlue;
}

.btn:hover {
	border: 2px solid #f6f6f6;
}

//Credit Goes to 'https://www.w3schools.com/howto/howto_css_modals.asp' for Modal pop up
.popUp {
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .popUpContent {
	    color: #a05d31;
	    background-color: #eee4d0;
	    margin: auto;
	    padding: 20px;
	    border: 1px solid #3c2e27;
	    width: 50%;
	}
	textarea {
		width: 90%;
	}


}



.addRecipe {
	margin-bottom: 25px;
	margin-top: 30px;
	background-color: #ddd;
}

.editBtn {
	background-color: white;
	color: blue;
}
.deleteBtn {
	background-color: white;
	color: red;
}

.formContainer {
	p{
		margin-bottom: 2px;
	}
	input {
		margin-bottom: 10px;
	}
	textarea {
		margin-bottom: 10px;
	}
	#formAdd{
		margin-right: 10px;
	}
}




// .recipeContainer {
// 	#addRecipe {
// 		margin: 5px auto;
// 	}
// 	.jumbotron {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: space-around;

// 		.well {
// 			width: 70%;
// 			margin-right: -4px;
// 			@media (min-width: 800px) {
// 				width: 33%;
// 			}	
// 			.recipe {
// 				display: none;
// 				width: 100%;
// 				display: flex;
// 				justify-content: space-around;

// 			}
// 				.btnFlex {
// 					display: flex;
// 					flex-flow: row wrap;
// 					justify-content: flex-start;
// 					width: auto;
// 					margin: 5px;
// 					.btn{
// 						width: 35%;
// 						margin: auto;
// 					}
// 				}
// 		}
// 	}
// }

// .recipeTable {
// 	border: $border;
// 	width: 100%;
// 	text-align: center;
// 	th, td {
// 		border: $border;
// 		text-align: center;
// 	}
// }